<%= render "layouts/first_tab" %>

<style>
  iframe {
    width: 100%;
    height: 500px;
  }
</style>

<div class="CSSTableGenerator" >
  <table >
    <tr>
      <td>
        <b><%= t("mail_template.#{@mail_template.name}") %>
      </td>
    </tr>
  </table>
</div>
<%= @mail_template.content.html_safe %>

<%= render "layouts/action_links" %>