<%= render "layouts/first_tab" %>

<div class="CSSTableGenerator" >
  <table >
          <tr>
        <td>
          <b><%= t'group.name' %>:<%= @group.name %>
        </td>
      </tr>
      </table>
</div>


<%= render "layouts/action_links" %>
