<%= render "layouts/first_tab" %>

<div class="CSSTableGenerator" >
  <table >
          <tr>
        <td>
          <b><%= t'massive_load.excel_file' %>:<%= @massive_load.excel_file %>
        </td>
      </tr>
      </table>
</div>


<%= render "layouts/action_links" %>
