<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top" bgcolor="#797979" style="background-color:#797979;"><br>
      <br>
      <table width="600" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="2" align="left" valign="top" bgcolor="#2a2a2a" style="background-color:#2a2a2a; padding:10px;">

            <p style = "font-family:Arial, 'Arial Narrow', Times, serif; color:#F2F2F2; font-size:30px; font-weight: bold;">ExpoMobile</p>
            <p style = "font-family:Arial, 'Arial Narrow', Times, serif; color:#F2F2F2; font-size:18px;"><span style="font-weight: bold;"><%= "#{t(:welcome).upcase}: " %></span><%= "Presidente " + @attendee.a_name %></p>
            <p style = "font-family:Arial, 'Arial Narrow', Times, serif; color:#F2F2F2; font-size:18px; font-style: italic;"><%= "#{t(:your_register_id_is)}: #{@attendee.attendee_id}" %></p>
          </td>

        </tr>
        <tr>
          <td width="201" align="center" valign="top" style="padding:12px; background-color:#ffffff;" bgcolor="#ffffff;"><table width="100%" border="0" cellspacing="0" cellpadding="4" style="margin-bottom:20px;">
              <tr>
                <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; font-size:14px; color:#000000;"><b>Visitanos</b></td>
              </tr>
              <tr>
                <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; font-size:16px; color:#08298A;"><a href="http://www.emobile.com.mx/mx/" style="color:#08298A; text-decoration:underline;">www.emobile.com.mx</a><br>

            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="4" style="margin-bottom:20px;">

              <tr>
                <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#000000;">
                  <div style="color:#2E2E2E; font-size:19px;"><b>Con ExpoMobile disfruta de:</b><br>
                  </div>
                  <div style="color:#000000;"> 
                    <UL type= disk>
                      <LI> Información sobre tu horario.
                      <LI> Agenda de todos los eventos. 
                      <LI> Registra tu visita a todas las exposiciones y talleres desde tu móvil.
                      <LI> Información sobre patrocinadores y ofertas
                      <LI> Y mucho más... 
                    </UL>
                  </div> </td>
              </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="4" style="margin-bottom:20px;">

              <tr>
              </tr>
              <tr>
                <td width="100%" align="middle" valign="middle"><img src="http://expomobile.com.mx/assets/descarga.jpg" width="150" height="110"></td>


              </tr>
              <tr>
                <td width="100%" align="middle" valign="middle"><img src="http://expomobile.com.mx/assets/logoexpo.png" width="150" height="105"></td>


              </tr>
              <tr>
                <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; font-size:14px; color:#000000;"><b>Siguenos en</b></td>
              </tr>
              <tr>
                <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#000000;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="33%" align="left" valign="middle"><a href="https://twitter.com/eMobile_MI"><img src="http://expomobile.com.mx/assets/tweet48.png" width="48" height="48"></a><a href="https://www.facebook.com/eMobileMobilizingIdeas"><img src="http://expomobile.com.mx/assets/face48.png" width="48" height="48"></a></td>

                    </tr>

                  </table></td>
              </tr>
            </table></td>
          <td align="left" valign="top" style="background-color:#e4e4e4; padding:10px;" bgcolor="#e4e4e4;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; color:#6e6e6e;">
                  <div style="font-size:35px; font-family:Freestyle Script, Geneva, sans-serif;"><b>Movilidad para su evento... </b></div>
                  <div style="font-size:15px;"><b></b></div>
                  <p></p>
                  <div style="font-size:24px; "><b>Bienvenido </b></div>
                  <div style="font-size:14px;"><br>
                    <b>eMobile te dá la bienvenida, administra tu congreso Anadic desde tu celular</b></div>
                  <div><br>
                    <img src="http://expomobile.com.mx/assets/iphoneexpo.png" width="349" height="161" style="display:block;"></div>
                  <div style="font-size:13px;"><br>Si eres usuario de Android (versiones posteriores a 2.3) te sugerimos descargues y obtengas nuestra aplicación móvil del siguiente enlace, para que tu participación en el evento sea mas cómoda y dinámica.
                    <br>
                    <br>
                    <br>
                  </div>
                  <div style="font-size:16px; color:#045FB4;"><b>Importante: Si ya obtuviste la aplicación previamente es importante la actualices</b></div>
                  <div style="font-size:11px;"><br>
                    <a href="https://play.google.com/store/apps/details?id=mx.com.emobile.expomobile" style="color:#000; text-decoration:underline; font-size: 16px;"><br>Click aqui para obtener ExpoMobile</br></a> <br>
                    <br>
                  </div>

                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>

                  <div style="font-size:16px; color:#886A08;"><b>Próximamente versión iOS...</b></div>

                </td>
              </tr>
            </table></td>
        </tr>
      </table>
      <br>
      <br></td>
  </tr>
</